<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="new.css" />
    <title>Bookers</title>
  </head>
  <body>
    <h1>Books</h1>
    
    <h4>Title</h4><h4>Body</h4>

    <h2>New book</h2>
    
     <%= form_with model: @book do |f| %>
    
    <p1>Title</p1><br>
     <%= f.text_field :title %>
     
     <div class = "body-form">
    <p1>Body</p1><br>
     <%= f.text_area :body %><br>
     </div>
     
     <div class = "submit-box">
     <%= f.submit 'Create Book' %>
     </div>
     <% end %>
    
    
    
  </body>
</html>