<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="show.css" />
    <title>Bookers</title>
  </head>
  <body>
    <p><font color="#008000">Book was successfully created.</font></p>
    <p><strong>Title: </strong><%= @book.title %></p> 
    <p><strong>Body: </strong><%= @book.body %></p>
    
  </body>
</html>