<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/3c97181b25.js" crossorigin="anonymous"></script>
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="application.css" />
    <title>Bookers</title>
  </head>
  <body>
    <h1>
      ようこそ
      <strong>Bookers</strong>
      へ！
    </h1>
    <p>
      <strong>Bookers</strong>
       では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
      <a href="/books">start</a>
    </p>
  </body>
</html>