body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold
}

strong {
  font-weight: bold;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a:link { /*未訪問のリンク*/
text-decoration:underline;
/*background-color :#ccccff;/*未訪問時のリンク、背景色*/
color:#000; /*黒色
}
a:visited { /*訪問済みのリンク*/
text-decoration:underline;
color:#666;
}
a:active { /*ポイント時のリンク*/
text-decoration:underline;
color:#333333;
}
a:hover { /*マウスを乗せた時,選択中のリンク*/
text-decoration:underline;
background-color :#000;
color:#fff;
}

table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: separate;
  box-sizing: border-box;
  border-color: grey;
}

th {
  padding-bottom: 5px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: internal-center;
}


tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.body-form {
  margin-top: 10px;
}

.submit-box {
  margin-top: 10px;
}

.Show-Back {
  margin-top: 8px;
}