body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold
}

strong {
  font-weight: bold;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}


a:link {
text-decoration:underline;
/*background-color :#ccccff;*/ /*未訪問時のリンク、背景色*/
color:#666;
}
a:visited {
text-decoration:underline;
color:#666;
}
a:active {
text-decoration:underline;
color:#333333;
}
a:hover { /*マウスを乗せた時*/
text-decoration:underline;
background-color :#000;
color:#fff;
}